<html>

<head></head>

<body>
    <style>
        .page {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 72% 10% 5%;
            place-content: center;
            place-items: center;
        }

        .header {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header>.title {
            font-size: 30px;
            font-weight: 600;
            line-height: 1.5;
            vertical-align: middle;
            font-family: sans-serif;
        }

        .header>.title>.headline {
            font-size: 30px;
        }

        .header>.title>.subhead {
            font-size: 25px;
            line-height: 1;
        }

        .header>.logo {
            width: 120px;
            height: 100%;
        }

        .header>.logo>img {
            width: 100%;
        }

        .plan {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .plan>svg {
            width: 100%;
            height: 100%;
        }

        .units-data {
            width: 100%;
        }

        table.GeneratedTable {
            width: 100%;
            background-color: #ffffff;
            border-collapse: collapse;
            border-width: 1px;
            border-color: #d4d4d3;
            border-style: solid;
            color: #000000;
        }

        table.GeneratedTable td,
        table.GeneratedTable th {
            border-width: 1px;
            border-color: #d4d4d3;
            border-style: solid;
            padding: 3px;
        }

        table.GeneratedTable thead {
            background-color: #ffffff;
        }

        .notes {
            height: 100%;
            width: 100%;
            text-align: start;
        }
    </style>
    <div class="page">
        <div class="header">
            <div class="title" style="color: {{themeColor}};">
                <span class="headline">{{retailCenterName}} - {{retailCenterCity}}</span>
                <br />
                <span class="subhead">Détails de la proposition :</span>
            </div>
            <div class="logo">
                <img src="{{logo}}" />
            </div>
        </div>
        <div class="plan">
            {{planMarked}}
        </div>
        <div class="units-data">
            <table class="GeneratedTable">
                <tbody>
                    <tr>
                        <th style="font-size:18px;padding:10px;text-align:left">&nbsp;</th>
                        <th style="font-size:18px;padding:10px;text-align:left">Nom</th>
                        <th style="font-size:18px;padding:10px;text-align:left">Étage</th>
                        {{#unless isLongTerm}}
                        <th style="font-size:18px;padding:10px;text-align:left">Période</th>
                        {{/unless}}
                        <th style="font-size:18px;padding:10px;text-align:left">Gla Local</th>
                        {{#if isLongTerm}}
                        <th style="font-size:18px;padding:10px;text-align:left">Gla Mezzanine</th>
                        <th style="font-size:18px;padding:10px;text-align:left">Gla Terrasse</th>
                        <th style="font-size:18px;padding:10px;text-align:left">Gla Pondérée</th>
                        {{/if}}
                        <th style="font-size:18px;padding:10px;text-align:left">Type</th>
                        {{#unless isLongTerm}}
                        <th style="font-size:18px;padding:10px;text-align:left">Prix</th>
                        {{/unless}}
                    </tr>
                    {{#each units}}
                    {{#with this as |unit|}}
                    <tr>
                        <td style="background-color: {{unit.color}};font-size:18px;padding:10px">
                            &nbsp;
                        </td>
                        <td style="font-size:18px;padding:10px">
                            {{unit.alias}} - {{unit.unitId}}
                        </td>
                        <td style="font-size:18px;padding:10px">
                            {{unit.floorName}}
                        </td>
                        {{#unless ../isLongTerm}}
                        <td style="font-size:18px;padding:10px">
                            Du {{unit.dateFrom}} au {{unit.dateTo}}
                        </td>
                        {{/unless}}
                        <td style="font-size:18px;padding:10px">{{unit.unitSurface}} m²</td>
                        {{#if ../isLongTerm}}
                        <td style="font-size:18px;padding:10px">
                            {{unit.mezzanine}} m²
                        </td>
                        <td style="font-size:18px;padding:10px">
                            {{unit.terrasse}} m²
                        </td>
                        <td style="font-size:18px;padding:10px">{{unit.glaPond}} m²</td>
                        {{/if}}
                        <td style="font-size:18px;padding:10px">
                            {{unit.typeLiteral}}
                        </td>
                        {{#unless ../isLongTerm}}
                        <td style="font-size:18px;padding:10px">
                            <span>
                                {{unit.unitPrice}}
                                {{#unless ../isLongTerm}}
                                /MOIS
                                {{/unless}}
                            </span>
                        </td>
                        {{/unless}}
                    </tr>
                    {{/with}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#if notes}}
        <div class="notes">
            <p>Notes :<br />{{notes}}</p>
        </div>
        {{/if}}
    </div>
</body>

</html>

