<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>Reset Your Password</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: black;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .footer-link {
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <table style="width: 100%;">
    <tr>
      <td>
        <img src="{{headerImage}}" alt="Header Image" style="max-width: 100%; height: auto;" />
      </td>
    </tr>
    <tr>
      <td>
        <h1>Reset Your Password</h1>

        <p>Hello {{username}},</p>

        <p>We received a request to reset your password. If you didn't make this request, you can ignore this email.</p>

        <p>To reset your password, click the button below:</p>

        <p>
          <a href="{{resetUrl}}" class="button"
             style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px; font-weight: bold;">Reset
            Password</a>
        </p>

        <p>Or copy and paste this link into your browser:</p>

        <p>{{resetUrl}}</p>

        <!--        <p>This link will expire in {{expirationTime}} hours.</p>-->

        <p>If you have any issues, please contact our support team.</p>

        <p>Best regards,<br>Squarefeet Team</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>{{signature}}</strong></p>
      </td>
    </tr>
    <tr>
      <td>
        <img src="{{footerImage}}" alt="Footer Image" style="max-width: 100%; height: auto;" />
      </td>
    </tr>
    <tr>
      <td class="footer-link">
        <p><a href="{{linkWebsite}}" rel="noopener noreferrer" target="_blank">https://www.squarefeet.cloud</a></p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
